SPOTWARE__CLIENT_ID="409_64vtBTyifw4CCAYWljsSzdlvMhvAzwfepkFr6HzNiD4EVYbAnG"
SPOTWARE__CLIENT_SECRET="CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC"
SPOTWARE__HOST="demo.ctraderapi.com"
SPOTWARE__PORT=5035

SPOTWARE__ACCESS_TOKEN="TTTTTTTTTTTTTTTTTTTTTTTt"
