import {
  I{{{type}}} as IMessage,
  {{{type}}} as Message,
  IProtoMessage,
  {{#isCommonMessage}}ProtoPayloadType{{/isCommonMessage}}{{#isOpenApiMessage}}ProtoOAPayloadType{{/isOpenApiMessage}}
} from "../spotware-messages";

export namespace {{{type}}} {
  export const payloadType = {{{payloadType}}};

  export function toProtoMessage(
    message: IMessage,
    clientMsgId?: string | null
  ): IProtoMessage {
    return {
      payloadType,
      payload: Message.encode(message).finish(),
      clientMsgId
    };
  }

  export function fromProtoMessage(
    message: IProtoMessage
  ): { message: IMessage; clientMsgId?: string | null } {
    if (message.payload && message.payloadType === payloadType) {
      return {
        message: Message.decode(message.payload),
        clientMsgId: message.clientMsgId
      };
    } else if (!message.payload) {
      throw new Error(
        "invalid message. expected payload, but payload was empty."
      );
    }
    throw new Error(
      `invalid message. expected payloadType '{{{eventName}}}' (got '${
        {{#isCommonMessage}}ProtoPayloadType{{/isCommonMessage}}{{#isOpenApiMessage}}ProtoOAPayloadType{{/isOpenApiMessage}}[payloadType]
      }').`
    );
  }
}
export default {{{type}}};
